/* BODY MAIN STYLES */
body {
  font-family: "Roboto", sans-serif;
  color: var(--NAVY-BLUE);
  background-color: var(--WHITE);
}

a,
ul,
li,
.nav-address-list > li {
  text-decoration: none;
  list-style-type: none;
}

/* HOVER AND FOCUS */
a:hover,
a:focus,
.nav-logo:hover,
.logo-part-2:hover,
.footer-logo-part-2:hover {
  color: var(--OCEAN);
}

.filter-button-list>li>button:hover,
.filter-button-list>li>button:focus,
.ord-btn:hover,
.ord-btn:focus {
  color: var(--WHITE);
  background-color: var(--OCEAN);
}

/* ROOT COLOR */
:root {
  --Iris: #4d5ae5;
  --OCEAN: #404bbf;
  --NAVY-BLUE: #434455;
  --GREEN: #31d0aa;
  --SLATE: #434455;
  --LIGHT-SLATE: #8e8f99;
  --cornflower: #e7e9fc;
  --CLOUD: #f4f4fd;
  --NAVY-BLUE-modal: #2e2f42;
  --GREY: #2e2f42;
  --WHITE: #ffffff;
  --Dairy: #fcfcfc;
}
/* HEADER MAIN STYLES */
.header-nav {
  background: var(--white, #fff);
}

.nav-logo {
  color: var(--iris, #4d5ae5);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.logo-part-2 {
  color: var(--NAVY-BLUE);
}

.footer-logo-part-2 {
  color: var(--CLOUD);
}

.nav-list > li {
  color: var(--navyblue, #2e2f42);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.e-mail,
.phone-number {
  color: var(--slate, #434455);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
/* BUTTONS */
button {
  cursor: pointer;
}

.ord-btn {
  color: var(--white, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  background: var(--iris, #4d5ae5);
}

.fltr-btn-1,
.fltr-btn-2,
.fltr-btn-3,
.fltr-btn-4,
.fltr-btn-5 {
  color: var(--iris, #4d5ae5);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  background: var(--cloud, #f4f4fd);
}

/* SECTION STYLES HOMEPAGE */

/* order-section */
.order-section {
  background: var(--navyblue, #2e2f42);
}

.h1-homepage {
  color: var(--white, #fff);
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
}
/* service-description-section */
.service-description-list > li > h3 {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.service-description-list > li > p {
  color: var(--slate, #434455);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

/* product-image-section */
.h2-homepage {
  color: var(--navyblue, #2e2f42);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.team-list-section {
  background: var(--cloud, #f4f4fd);
}

.team-list > li {
  background: var(--white, #fff);
}
.team-list > li > h3 {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.team-list > li > p {
  color: var(--slate, #434455);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

/* SECTION STYLES PORTFOLIO PAGE */

.row-1-list > li,
.row-2-list > li,
.row-3-list > li {
  background: var(--white, #fff);
}

.row-1-list > li > a > h3,
.row-2-list > li > a > h3,
.row-3-list > li > a > h3 {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.row-1-list > li > a > p,
.row-2-list > li > a > p,
.row-3-list > li > a > p {
  color: var(--slate, #434455);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

/* FOOTER */
footer {
  background: var(--navyblue, #2e2f42);
}

.footer-text {
  color: var(--cloud, #f4f4fd);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
